#waybar {
    font-family: "SF Pro Display", Cantarell, Noto Sans, sans-serif;
    font-size: 16px;
}

#window {
    padding: 0 10px;
}

window#waybar {
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
    transition-duration: 0s;
    color: rgba(217, 216, 216, 1);
    background: #1a1b26; 
} 

#workspaces {
    margin: 0 5px;
}

#workspaces button {
    padding: 0 8px;
    color: #565f89;
    border: 3px solid rgba(9, 85, 225, 0);
    border-radius: 10px;
    min-width: 33px;
}

#workspaces button.visible {
    color: #a9b1d6;
}

#workspaces button.focused {
    border-top: 3px solid #7aa2f7;
    border-bottom: 3px solid #7aa2f7;
}

#workspaces button.urgent {
    background-color: #a96d1f;
    color: white;
}

#workspaces button:hover {
    box-shadow: inherit;
    border-color: #bb9af7;
    color: #bb9af7;
}

/* Repeat style here to ensure properties are overwritten as there's no !important and button:hover above resets the colour */

#workspaces button.focused {
    color: #7aa2f7;
}
#workspaces button.focused:hover {
    color: #bb9af7;
}

#pulseaudio {
    /* font-size: 26px; */
}

#custom-recorder {
	font-size: 18px;
	margin: 2px 7px 0px 7px;
	color:#ee2e24;
}

#tray,
#mode,
#battery,
#temperature,
#cpu,
#memory,
#network,
#pulseaudio,
#idle_inhibitor,
#sway-language,
#backlight,
#custom-storage,
#custom-cpu_speed,
#custom-powermenu,
#custom-spotify,
#custom-weather,
#custom-mail,
#custom-media {
    margin: 0px 0px 0px 10px;
    padding: 0 5px;
    /* border-top: 3px solid rgba(217, 216, 216, 0.5); */
}

/* #clock {
    margin:     0px 16px 0px 10px;
    min-width:  140px;
} */

#battery.warning {
    color: rgba(255, 210, 4, 1);
}

#battery.critical {
    color: rgba(238, 46, 36, 1);
}

#battery.charging {
    color: rgba(217, 216, 216, 1);
}

#custom-storage.warning {
    color: rgba(255, 210, 4, 1);
}

#custom-storage.critical {
    color: rgba(238, 46, 36, 1);
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}
